@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --color-bubblegum: #ff5599;
  --color-cherry-soda: #ff445c;
  --color-lemon-drop: #ffe066;
  --color-lithium-white: #fafaf9;
  --color-purple: #aa66ff;
  --color-velvet-black: #111111;
  --font-mono: 'Maple Mono', monospace;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-mono);
}

body {
  @apply bg-velvet-black text-lithium-white min-h-screen font-mono;
}
